.locations{
  .card-content{
    &>ul{
      border: 1px solid #eee;
      &>li{
        border-bottom: 1px solid #eee;
        span{
          font-weight: bold;
          margin-left:10px;
        }
      }
    }
  }
}