.box{
  margin-top: 5rem;
  .avatar {
    margin-top: -70px;
    padding-bottom: 20px;
    
    img{
      border-radius: 25%;
      border: 1px solid #ccc;
      padding: 5px;

    }
  }
}
.label:not(:last-child) {

  text-align: right;
}