.app-sidebar {
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  padding: 20px 20px 50px 0px;
  width: 180px;
  min-width: 45px;
  max-height: 100vh;
  height: calc(100% - 50px);
  z-index: 1023;
  background: #fff;
  box-shadow: 0 2px 3px hsla(0,0%,7%,.1), 0 0 0 1px hsla(0,0%,7%,.1);
  overflow-y: auto;
  overflow-x: hidden;
  .menu-list 
    {
      a.is-active{
        background-color:$themeColor;
      }
      li ul {
        border-left:0px;
        border-right: 1px solid #dbdbdb;
        padding-left:0px;
        margin-left:0px;
        li{
          
          padding-left:0;
          &:hover{
            .icon{
              margin-left:0.75rem;
            }
          }
          a{
            padding: 0.5em 0.75em 0.5em 0;
          }
          .icon{
            margin-left: 1.50rem;
            transition: 0.25s margin ease;
          }
        }
        
      }
    }
  
}